body {
    display: flex;
    background-color: #f4f6f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.a {
    width: 240px;
    height: 100vh;
    background-color: #003366;
    color: white;
    padding: 20px;
}

.a h2 {
    text-align: center;
    margin-bottom: 30px;
}

.a ul {
    list-style: none;
}

.a ul li {
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.a ul li:hover,
.a ul li.active {
    background-color: #0055aa;
}

.logout {
    background-color: #b30000;
}


.main {
    flex: 1;
    padding: 20px;
}

/* Top Bar */
.b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.b h1 {
    color: #333;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card h3 {
    color: #555;
    margin-bottom: 10px;
}

.card p {
    font-size: 28px;
    color: #003366;
    font-weight: bold;
}

/* Table */
.table-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.table-container h2 {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #003366;
    color: white;
}

.active-status {
    color: green;
    font-weight: bold;
}

.pending-status {
    color: orange;
    font-weight: bold;
}

.completed-status {
    color: gray;
    font-weight: bold;
}
