
.b{
    background-color: #003366;
    color: white;
    padding: 30px;
    text-align: center;

    
}
.b h1{
    margin: 0;

}
.services{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    
}
.service{
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;


}
.service h3{
    color: #003366;
    margin-bottom: 10px;

}
.service p{
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;

}
.a h3{
    color: #003366;

}

.a{
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;

}
button {
    background-color: #003366;
    color: rgb(255, 255, 255); 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}



