
body{
            background-color: white;
            font-family: "Times New Roman", sans-serif;
        }

        fieldset{
            width: 400px;
            margin-top: 80px;
            padding: 20px;
            border-radius: 5px;
        }

        legend{
            text-align: center;
            font-size: 18px;
            color: black;
        }

        h2{
            text-align: center;
            color: black;
            font-size: 32px;
            margin-bottom: 10px;
        }

        .a, .b{
            font-size: 18px;
            color: black;
        }

        input[type="text"],
        input[type="password"]{
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .button{
            background-color: black;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin: 5px;
            text-decoration: none;
        }
   