
        body{
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f6f8;
        }

        .a{
            width: 400px;
            background-color: white;
            margin: 80px auto;
            padding: 30px;
            border-radius: 10px;
            
        }

        h2{
            text-align: center;
            color: #003366;
            margin-bottom: 20px;
        }

        label{
            font-size: 14px;
            color: #333;
        }

        input{
            width: 100%;
            padding: 10px;
            margin: 6px 0 15px 0;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 14px;
        }

        button{
            width: 100%;
            padding: 10px;
            background-color: #003366;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        
        .login{
            text-align: center;
            margin-top: 15px;
            font-size: 14px;
        }

        .login a{
            text-decoration: none;
            color: #003366;
            font-weight: bold;
        }
    