body {  
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.navbar {
    background: #2c3e50;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
}

.sidebar {
    width: 220px;
    background: #34495e;
    min-height: 100vh;
}

.sidebar a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #2c3e50;
}

.content {
    padding: 20px;
    width: 100%;
}

.cards {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.table-box {
    background: white;
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: #ecf0f1;
}
h2{
    color: #acacacff;
    align-items: center;
}

